<% if @comments.any? %>
  <div class="answer-box" id="answer">
    <h4 class="answer-list">＜コメント一覧＞</h4>
    <% @comments.each do |comment| %>
      <p class="answer">
        <%= link_to "#{comment.user.nickname}：", user_path(comment.user.id), class: "answer-left" %>
        <span class="answer-text"><%= comment.text %></span>
      </p>
    <% end %>
  </div>
<% end %>
